body {
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

img {
  width: 100%;
  object-fit: cover;
}

li {
  min-height: 0px;
}

.is-invalid {
  border: 2px solid $danger;
}

.cards-container {
  .card > * {
    flex: 1;
  }
  .card-container {
    @media (max-width: 990px) {
      max-width: 350px;
    }
  }
  .card {
    max-width: 660px;
    height: 400px;

    .card-body {
      padding: 0px;
    }

    img {
      height: 100%;
    }

    @media (max-width: 990px) {
      max-width: 350px;

      img {
        height: 215px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
}

.profile-avatar {
  max-width: 86px;
}
