$primary: #2a60a6;
$secondary: #a36b0d;
$warning: #e1a645;
$light: #f8f8f8;
$dark: #5c5c5c;

$btn-border-radius: 0px;

$navbar-light-icon-color: $secondary;
$input-border-radius: 0px;

$grid-breakpoints: (
  xs: 0,
  sm: 560px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$modal-content-border-radius: 0px;
$modal-content-border-width: 0px;

$paragraph-margin-bottom: 0.5rem;

$dropdown-divider-bg: $warning;
