a {
  text-decoration: none;
}

.btn {
  min-width: 129px;
  max-width: 160px;
}
.btn:hover {
  transition: all ease-in 0.1s;
}
.btn-white,
.btn-primary:hover {
  background-color: #fff;
  color: $primary;
}

.btn-secondary {
  color: #fff;
}

.btn-secondary:hover,
.current-btn,
.filter-btn {
  background: #fff;
  color: $secondary;
}

.filter-btn,
.current-filter-btn {
  border: 1px solid $secondary;
}
.btn-white:hover {
  background: $primary;
  color: #fff;
}

.text-link:hover {
  font-weight: bold;
  font-size: large;
  transition: all ease-in 0.1s;
  color: $secondary;
}

.filter-btn {
  @media (max-width: 450px) {
    min-width: 0px;
  }
}
.filter-btn:hover {
  border: none;
  color: $secondary;
  background: #fff;
}

.current-filter-btn {
  color: #fff;
}
.current-filter-btn {
  background-color: $secondary;
}

.modal-body {
  i {
    cursor: pointer;
  }
}

.listing-modal_btn {
  all: unset;
}

.listing-modal_btn:focus {
  outline: revert;
}

.edit-btn {
  color: $secondary;
  font-size: 2rem;
  height: 39px;
}
