@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "typography";

//nav
.header-container {
  max-width: 1320px;

  .btn {
    min-width: 160px;
  }
}

.nav-border {
  @media (max-width: 767px) {
    border: solid $warning;
    border-width: 1px 0px 1px 0px;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}
//body
body {
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
