@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "typography";
@import "base";
@import "auth";
@import "listing";
@import "profile";

//header
.header-container {
  max-width: 1320px;
  .profile-btn {
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.nav-border {
  @media (max-width: 767px) {
    border: solid $warning;
    border-width: 1px 0px 1px 0px;
  }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.search-container {
  max-width: 550px;
}
//body
body {
  min-height: 100vh;
  margin: 0px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

img {
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}
//home page
.carousel {
  border: solid $warning;
  border-width: 1px 0px 1px 0px;

  .carousel-item {
    .carousel-item-container {
      max-width: 900px;
    }
    .carousel-item-container > * {
      flex: 1;
    }

    img {
      height: 358px;
      width: 358px;

      @media (max-width: 560px) {
        height: 250px;
        width: 100%;
      }
    }
  }
  @media (max-width: 1068px) {
    .carousel-control-next,
    .carousel-control-prev {
      top: 90%;
    }
    .carousel-item-container {
      margin-bottom: 30px;
    }
  }
}

.cards-container {
  .card > * {
    flex: 1;
  }

  .card {
    max-width: 660px;
    height: 350px;

    .card-body {
      padding: 0px;
    }

    img {
      height: 100%;
    }

    @media (max-width: 990px) {
      max-width: 350px;
      height: 400px;

      img {
        height: 240px;
      }
    }
  }
}

//footer
footer {
  p,
  a {
    margin-bottom: 5px;
  }

  @media (max-width: 560px) {
    .logo-container {
      text-align: center;
      margin-bottom: 30px;
    }
    div {
      justify-content: center;
    }
  }
}

//modal
// .modal-content {
//   border-width: 5px;
// }
.listing-modal_btn {
  all: unset;
}

.listing-modal_btn:focus {
  outline: revert;
}

.profile-avatar {
  max-width: 86px;
}
//general
li {
  min-height: 0px;
}
